*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}



@media(min-width:992px){
    .bg-img{
    background-image: url(../img/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    width: 100%;
}
}

.bg-img2{
    background-image: url(../img/soup.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    width: 40%;
    justify-content: end !important;
    align-items: end !important;
}

.bg-img3{
    background-image:url(../img/fullpage-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 300px;
 
}
@media (min-width:991px){
   .height{
    height: 100vh ;
} 
}

.height2{
    height: 146px !important;
}

.color1{
    color: #42536c !important;
}

.color2{
    color: #ff806f !important;
}

.color3{
    color: #9ca7b8;
}



.back1{
    background-color: rgb(11, 23, 39);
}
.back2{
    background-color: #f9fafe;
}
.back3{
    background-color:#f9fafe;
}

.back4{
    background-color: #fec554 !important;
}
.back5{
    background-color: #e9eaee !important;
}
.back6{
    background-color: #ff806f !important;
}

.back7{
    background-color:#58ABD6 !important;
}



.p-t{
    padding-top: 10%;
}
.p-l{
    padding-left: 10% !important;
}

.p-r{
    padding-right: 10%;
}

.p-b{
     padding-bottom: 10% !important;
}

.p-l-0{
    padding-left: 0%;
}

.p-l-5{
    padding-left: 5% !important;
}
.p-l-15{
    padding-left: 15%;
}
.p-l-20{
    padding-left: 20%;
}
.p-l-28{
    padding-left: 28%;
}
.p-t-5{
    padding-top: 5% !important;
}  
.p-t-15{
    padding-top: 15%;
} 
.p-t-20{
    padding-top: 20%;
}
.p-t-30{
    padding-top: 30%;
}

.p-b-5{
    padding-bottom:5% !important;
}

.p-r-5{
    padding-right: 5%;
}

.p-0{
    padding-top: 0% !important;
}






.margin{
margin-top: 10%;

}

.m-top-5{
    margin-top: 5%;
    
    }
    .m-bott-5{
        margin-bottom: 5%;
        
        }

.m-top-1{
    margin-top: 1% !important;
    
    }

    .m-bottom-1{
        margin-bottom: 2% !important;
        
        }

        .m-bottom-18{
            margin-bottom: 18% !important;
            
            }
            .m-bottom-20{
                margin-bottom: 20% !important;
                
                }

.margin-b{
    margin-bottom: 10% !important;
    
    }
.s-img:before{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    transition: all 0.5s;
  
}
.s-img:hover::before{
    background-image:linear-gradient(#ffffff00,rgba(0, 0, 0, 0.767));
    transition: all 0.5s;
}




.s-text{
    z-index: 1000;
    content: "";
    position: absolute;
    top: 60%;
    left: 20%;
    display: none;
    transition: all 0.5s;
}
.s-image:hover .s-text{
    display: block;
    transition: all 0.5s;
}


.slick-next:before{
    content: "\ea6e" !important;
    font-family: remixicon !important;
}

.slick-prev:before{
    content: "\ea64" !important;
    font-family: remixicon !important;
}

.slick-next {
   
    
    right: 25px !important;
    background-color: rgba(255, 166, 0, 0.274) !important;
    border-radius: 50%;    
    width: 50px !important;
    height: 50px !important;
    display: none !important;
}


.slick-prev{
 
    left: 25px !important;
    background-color: rgba(255, 166, 0, 0.274) !important;
    border-radius: 50%;    
    width: 50px !important;
    height: 50px !important;
    z-index: 100 !important;
    display: none !important;
}

.responsive:hover .slick-prev{
    background-color:  rgba(255, 166, 0, 0.274) !important;
    display: block !important;
}

.responsive:hover .slick-next{
    background-color: rgba(255, 166, 0, 0.274) !important;
    display: block !important;
}


.l-0{
    left: 0;
}






/* --------------------------shadow----------------------------- */

.shadow1{
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.shadow2{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   
.catering{
    position: absolute !important;
    left: -175px !important;
    top: -93px !important;
    width:600px !important;
}


.rot{
    animation: rot 1s linear;
    position: relative;
}

@keyframes rot{
    from{
        rotate: -90deg;
        left: -300px;
    }
    to{
        rotate: 0deg;
        left: 0px;
    }
}





/* -----------------------------media-Quary--------------------------- */

@media(max-width:992px){
    .pos{
        position: absolute !important;
        left: 30% !important;
        bottom: 0% !important;
    }

    .d-992-none{
        display: none;
    }

    .w-100{
        width: 100% !important;
    }

    .b-none{
        border: none;
    }

    .p-md-0{
        padding: 0 !important;
    }
   
}

@media(max-width:1399px){
    .textcentermin{
        text-align: center;
        padding-left: 0%;
    }


}

@media(max-width:767px){
    .imgnone{
        display: none;
    }
    .textstart{
        text-align: start !important;
    }

    .padding-0{
        padding: 0 !important;
    }

    
   
}


    
       
.spin{
    max-width: 350px !important;
}